{% extends 'adminbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    th{
        background-color: black;
        color:white;
    }
</style>
<center>
<form method="POST" enctype="multipart/form-data">
 {% csrf_token %}     
    <table style="margin: 50px;" align="center" >
            <br><br><h2  align="center" > <b>Fuel</b></h2>
           
            <tr>
                <td><b>Fuel :</b></td>
                <td><input type="text" name="txtFuel" required="" pattern="[a-zA-Z ]+" class="form-control"/></td>
            </tr>
            <tr>
                <td><b>Rate :</b></td>
                <td><input type="text" name="txtRate" min="0" required="" pattern="[0-9.]{1,6}" class="form-control"/></td>
            </tr>
             <tr>
                 <td colspan="2" align="center"><input type="submit" name="submit" value="Submit" class="btn btn-primary"/></td>
            </tr>
    </table><hr>
    <table border="0" style="margin:50px;"> 
      
            <tr>
                <th>ID</th>
                <th>FUEL</th>
                <th>RATE</th>
                
                <th></th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td><a href="/admineditfuel?id={{d.0}}">Update</a></td>
            </tr>
            {% endfor %}
        </table>
            </form>
</center>
{% endblock %}